body {
  background-color: black;
}

* {
    font-family: "Exo 2";
    font-size: 18px;
    color: white;
}

table {
  box-sizing: border-box;
  display: table;
}

tr {
  box-sizing: border-box;
  display: table-row;
}

td {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  text-align: center; /* Center text in all cells */
}

thead, tbody, tfoot {
  display: table-row-group;
}

body, div, p, hr, pre,
h1, h2, h3, h4, h5, h6,
tabset tabs {
    display: block;
}

img {
  max-width: 100px;
}

td.align-left {
  text-align: left
}

thead td {
  padding: 0 35px;
}

.leader {
  font-size: 1.1em;
}

.first {
  font-size: 1.3em;
  font-weight: bold;
}

.score {
  font-size: 1.1em;
}

.first-leader-score {
  font-weight: bold;
  font-size: 1.4em;
}

td.emptySpacing {
  padding-top: 25px;
}

.buttons-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 5px;
  color: white;
  margin: 10px;
  transition: background-color 0.2s;
}

.show-graph {
  background-color: #007bff;
}

.leave {
  background-color: #dc3545;
  color: white;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    background-color: #0056b3;
}

.leave:active {
    background-color: #a71d2a;
}
