

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Set default charset
[*.{lua,md}]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
indent_size = 4
indent_style = tab
