*.db
/.git
/.svn
.vscode/*
!.vscode/extensions.json
.idea/
*.iml
.project
*.code-workspace
.lux/
luaui/images/terraform_brush/textures/coast_sand_rocks_02_8k.blend/textures/coast_sand_rocks_02_disp_8k.png
luaui/images/terraform_brush/textures/coast_sand_rocks_02_8k.blend/textures/coast_sand_rocks_02_nor_gl_8k.exr
luaui/images/terraform_brush/textures/coast_sand_rocks_02_8k.blend/textures/coast_sand_rocks_02_rough_8k.exr
luaui/images/terraform_brush/textures/coral_gravel_8k.blend/coral_gravel_8k.blend
luaui/images/terraform_brush/textures/coral_gravel_8k.blend/textures/coral_gravel_diff_8k.jpg
luaui/images/terraform_brush/textures/coral_gravel_8k.blend/textures/coral_gravel_disp_8k.png
luaui/images/terraform_brush/textures/coral_gravel_8k.blend/textures/coral_gravel_nor_gl_8k.exr
luaui/images/terraform_brush/textures/coral_gravel_8k.blend/textures/coral_gravel_rough_8k.jpg
luaui/images/terraform_brush/textures/mud_cracked_dry_riverbed_002_8k.blend/mud_cracked_dry_riverbed_002_8k.blend
luaui/images/terraform_brush/textures/mud_cracked_dry_riverbed_002_8k.blend/textures/mud_cracked_dry_riverbed_002_diff_8k.jpg
luaui/images/terraform_brush/textures/mud_cracked_dry_riverbed_002_8k.blend/textures/mud_cracked_dry_riverbed_002_disp_8k.png
luaui/images/terraform_brush/textures/mud_cracked_dry_riverbed_002_8k.blend/textures/mud_cracked_dry_riverbed_002_nor_gl_8k.exr
luaui/images/terraform_brush/textures/mud_cracked_dry_riverbed_002_8k.blend/textures/mud_cracked_dry_riverbed_002_rough_8k.exr
luaui/images/terraform_brush/textures/rock_face_03_8k.blend/rock_face_03_8k.blend
luaui/images/terraform_brush/textures/rock_face_03_8k.blend/textures/rock_face_03_diff_8k.jpg
luaui/images/terraform_brush/textures/rock_face_03_8k.blend/textures/rock_face_03_disp_8k.png
luaui/images/terraform_brush/textures/rock_face_03_8k.blend/textures/rock_face_03_nor_gl_8k.exr
luaui/images/terraform_brush/textures/rock_face_03_8k.blend/textures/rock_face_03_rough_8k.exr
luaui/images/terraform_brush/textures/rocks_ground_04_8k.blend/rocks_ground_04_8k.blend
luaui/images/terraform_brush/textures/rocks_ground_04_8k.blend/textures/rocks_ground_04_diff_8k.jpg
luaui/images/terraform_brush/textures/rocks_ground_04_8k.blend/textures/rocks_ground_04_disp_8k.png
luaui/images/terraform_brush/textures/rocks_ground_04_8k.blend/textures/rocks_ground_04_nor_gl_8k.exr
luaui/images/terraform_brush/textures/rocks_ground_04_8k.blend/textures/rocks_ground_04_rough_8k.jpg
luaui/images/terraform_brush/textures/rocky_terrain_02_4k.blend/rocky_terrain_02_4k.blend
luaui/images/terraform_brush/textures/rocky_terrain_02_4k.blend/textures/rocky_terrain_02_diff_4k.jpg
luaui/images/terraform_brush/textures/rocky_terrain_02_4k.blend/textures/rocky_terrain_02_disp_4k.png
luaui/images/terraform_brush/textures/rocky_terrain_02_4k.blend/textures/rocky_terrain_02_nor_gl_4k.exr
luaui/images/terraform_brush/textures/rocky_terrain_02_4k.blend/textures/rocky_terrain_02_rough_4k.exr
luaui/images/terraform_brush/textures/rocky_terrain_02_4k.blend/textures/rocky_terrain_02_spec_4k.png
luaui/images/terraform_brush/textures/rocky_terrain_02_8k.blend/rocky_terrain_02_8k.blend
luaui/images/terraform_brush/textures/rocky_terrain_02_8k.blend/textures/rocky_terrain_02_diff_8k.jpg
luaui/images/terraform_brush/textures/rocky_terrain_02_8k.blend/textures/rocky_terrain_02_disp_8k.png
luaui/images/terraform_brush/textures/rocky_terrain_02_8k.blend/textures/rocky_terrain_02_nor_gl_8k.exr
luaui/images/terraform_brush/textures/rocky_terrain_02_8k.blend/textures/rocky_terrain_02_rough_8k.exr
luaui/images/terraform_brush/textures/rocky_terrain_02_8k.blend/textures/rocky_terrain_02_spec_8k.png
luaui/images/terraform_brush/textures/snow_01_8k.blend/snow_01_8k.blend
luaui/images/terraform_brush/textures/snow_01_8k.blend/textures/snow_01_diff_8k.jpg
luaui/images/terraform_brush/textures/snow_01_8k.blend/textures/snow_01_disp_8k.png
luaui/images/terraform_brush/textures/snow_01_8k.blend/textures/snow_01_nor_gl_8k.exr
luaui/images/terraform_brush/textures/snow_01_8k.blend/textures/snow_01_rough_8k.jpg
luaui/images/terraform_brush/textures/snow_01_8k.blend/textures/snow_01_translucent_8k.png
