# This is a basic workflow to help you get started with Actions

name: AutoBuildUnitCSV

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  # push:
    # branches: [ master ]
    # paths: 
    # - 'units/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          repository: beyond-all-reason/bar_units
          path: bar_units
          
      #- uses: actions/checkout@v2
      #  with:
      #    repository: beyond-all-reason/beyond-all-reason
      #    fetch-depth: 0
      #    path: barsdd
        

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
        

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          pip install -r bar_units/requirements.txt
          cd bar_units
          python3 bar_units.py
